set timeout=3
set default=0

menuentry "DNAOS - Quaternary Operating System" {
    multiboot2 /boot/dnaos.bin
    boot
}

menuentry "DNAOS (Safe Mode - 640x480)" {
    multiboot2 /boot/dnaos.bin --resolution=640x480
    boot
}

menuentry "DNAOS (Debug - Serial Console)" {
    multiboot2 /boot/dnaos.bin --debug
    boot
}
